@model CuentaCreacionViewModel

@{
	ViewData["Title"] = "Editar Cuenta";
}

<h1>Editar cuenta @Model.nombre</h1>

<form asp-action="Edit">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="id" />
	<div class="mb-3">
		<label asp-for="nombre" class="form-label"></label>
		<input asp-for="nombre" class="form-control" />
		<span asp-validation-for="nombre" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="tipoCuentaId" class="form-label"></label>
		<select asp-for="tipoCuentaId" asp-items="Model.TiposCuentas" class="form-select"></select>
		<span asp-validation-for="tipoCuentaId" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="balance" class="form-label"></label>
		<input asp-for="balance" class="form-control" />
		<span asp-validation-for="balance" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="descripcion" class="form-label"></label>
		<textarea asp-for="descripcion" class="form-control"></textarea>
		<span asp-validation-for="descripcion" class="text-danger"></span>
	</div>

	<button class="btn btn-primary" type="submit">Enviar</button>
	<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}