@model Category

@{
	ViewData["Title"] = "Editar Categoría";
}


<h1>Editar Categoría</h1>
<h5>La categoría nos permite indicar en qué gastamos nuestro dinero, también, de dónde provienen nuestros ingresos </h5>

<form asp-action="Edit">
	<div class="text-danger" asp-validation-summary="ModelOnly"></div>
	<input type="hidden" asp-for="id" />

	<div class="mb-3">
		<label asp-for="name" class="form-label"></label>
		<input asp-for="name" class="form-control" />
		<span asp-validation-for="name" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="operationTypeId" class="form-label"></label>
		<select asp-for="operationTypeId" asp-items="Html.GetEnumSelectList<OperationTypeEnum>()" class="form-select"></select>
		<span asp-validation-for="operationTypeId" class="text-danger"></span>
	</div>

	<button class="btn btn-primary">Enviar</button>
	<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}