@model Account

@{
	ViewData["Title"] = "Crear Tipo de Cuenta";
}

<h1>Crear Tipo de Cuenta</h1>
<h5>El tipo de cuenta se refiere a cómo podemos agrupar cuentas. Ejemplos: Préstamos, tarjetas de crédito, etc.</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Account" asp-action="Create">
	<div class="mb-3">
		<label asp-for="name" class="form-label"></label>
		<input type="text" asp-for="name" class="form-control" />
		<span asp-validation-for="name" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Enviar</button>
	<a href="" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}